* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  color: #ffcc00;
  padding: 15px 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #ffcc00;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: #ffcc00;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

nav ul li a:hover {
  color: white;
}


body {
  background-color: black;
  background-image: url('assets/images/img_foot.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 100px; /* pour que le formulaire ne passe pas sous le header */
}


.payment-container {
  background-color: #fff;
  padding: 30px;
  width: 380px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  margin-top: 40px;
}

.payment-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid yellow;
  font-size: 15px;
  transition: 0.3s;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

.card-details {
  display: flex;
  gap: 10px;
}

.card-details input {
  width: 100%;
}

.pay-btn {
  width: 100%;
  padding: 12px;
  background-color: yellow;
  border: none;
  color: black;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.pay-btn:hover {
  background-color: blue;
  color: white;
}

.footer-text {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
  color: #777;
}

.success-message {
  text-align: center;
  color: green;
  margin-top: 15px;
  font-weight: 600;
}
